{% extends 'base.html.twig' %}

{% block title %}Profil | Handling{% endblock %}
{% block stylesheets %}
   <link rel='stylesheet' type='text/css' media='screen' href='{{ asset('assets/style/main.css') }}'>
{% endblock %}
{% block body %}
   <header>
      <img src="{{ asset('assets/img/logo.png') }}" alt="Logo">
      <a href="{{ path('home') }}" id="lien_accueil"> <img src="{{ asset('assets/img/fleche2.svg') }}" alt="Retour"> Retour à l'accueil</a>
   </header>
   <div id="profil">
      <div id="progression">
         <h2>Votre progression</h2>
         <div class="texte">
            {% for game in games %}
               <p style="color: {{ (user.getId() == game.getWinner())?'green':'red' }};">{{ game.getUser1().getUsername() }} | {{ game.getUser1().getId() }} - {{ game.getUser2().getId() }} | {{ game.getUser2().getUsername() }}</p>
            {% endfor %}
            - Voir tout -
         </div>
      </div>
      <div id="infos">
         <h2>Vos informations</h2>
         <div class="texte">
            <p>Pseudo : {{ user.getUsername() }}</p>
            <p>Nom : {{ user.getLastName() }}</p>
            <p>Prénom : {{ user.getFirstName() }}</p>
            <p>E-mail : {{ user.getEmail() }}</p>
            <p>Photo de Profil : </p> <img id="photo" src="{{ asset('assets/img/profil.jpg') }}" alt="Photo de profil">
         </div>
         Vos amis :
         <ul>
            {% for friend in friends %}
               <li>{{ (friend.getUser1().getId() == user.getId())?friend.getUser2().getUsername():friend.getUser1().getUsername() }}</li>
            {% endfor %}
         </ul>
         Demandes reçues :
         <ul>
            {% for friend in received_friend_request %}
               <li>{{ friend.getUser1().getUsername() }}</li>
            {% endfor %}
         </ul>
         Demandes envoyées :
         <ul>
            {% for friend in sended_friend_request %}
               <li>{{ friend.getUser2().getUsername() }}</li>
            {% endfor %}
         </ul>
      </div>
      <a href="" id="modif">Modifier les informations</a>
   </div>
   <!-- <footer>
        <div><a href="">Mentions légales</a></div>
        <div><img src="img/logo.png" alt="Logo">&nbsp; Tous droits réservés</div>
        <div><a href="#">Rejoins nous sur Instagram ! <img src="img/instagram.png" alt="Instagram"></a></div>
    </footer> -->
{% endblock %}
{% block javascripts %}
   <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>
   <script>
      const socket = io('https://nathandfd.fr:8080');

      socket.on('friendRequest_{{ user.getId() }}',friend=>{
         console.log("Nouvelle demande d'ami de "+friend)
      })
   </script>
{% endblock %}
