{% extends 'base.html.twig' %}

{% block title %}Profil | Handling{% endblock %}
{% block stylesheets %}
   <link rel='stylesheet' type='text/css' media='screen' href='{{ asset('assets/style/main.css') }}'>
{% endblock %}
{% block body %}
   <header>
      <img src="{{ asset('assets/img/logo.png') }}" alt="Logo">
      <a href="{{ path('home') }}" id="lien_accueil"> <img src="{{ asset('assets/img/fleche2.svg') }}" alt="Retour"> Retour à l'accueil</a>
   </header>
   <div id="profil">
      <div id="progression">
         <h2>Votre progression</h2>
         <div class="texte">
            {% for game in games %}
               <p style="color: {{ (user.getId() == game.getWinner().getId())?'green':'red' }};">{{ game.getUser1().getUsername() }} | {{ game.getUser1().getId() }} - {{ game.getUser2().getId() }} | {{ game.getUser2().getUsername() }}</p>
            {% endfor %}
            - Voir tout -
            <input type="text" id="friend_search_bar">
            <ul id="search_list"></ul>
         </div>
      </div>
      <div id="infos">
         <h2>Vos informations</h2>
         <div class="texte">
            <p>Pseudo : {{ user.getUsername() }}</p>
            <p>Nom : {{ user.getLastName() }}</p>
            <p>Prénom : {{ user.getFirstName() }}</p>
            <p>E-mail : {{ user.getEmail() }}</p>
            <p>Photo de Profil : </p> <img title id="photo" src="{{ asset('assets/img/profil.jpg') }}" alt="Photo de profil">
         </div>
         Vos amis :
         <ul>
            {% for friend in friends %}
               <li>{{ (friend.getUser1().getId() == user.getId())?friend.getUser2().getUsername():friend.getUser1().getUsername() }}</li>
            {% endfor %}
         </ul>
         Demandes reçues :
         <ul>
            {% for friend in received_friend_request %}
               <li>{{ friend.getUser1().getUsername() }} <button onclick="addFriendFunction({{ friend.getUser1().getId() }})">Accepter l'invitation</button></li>
            {% endfor %}
         </ul>
         Demandes envoyées :
         <ul>
            {% for friend in sended_friend_request %}
               <li>{{ friend.getUser2().getUsername() }}</li>
            {% endfor %}
         </ul>
      </div>
      <a href="" id="modif">Modifier les informations</a>
   </div>
   <!-- <footer>
        <div><a href="">Mentions légales</a></div>
        <div><img src="img/logo.png" alt="Logo">&nbsp; Tous droits réservés</div>
        <div><a href="#">Rejoins nous sur Instagram ! <img src="img/instagram.png" alt="Instagram"></a></div>
    </footer> -->
{% endblock %}
{% block javascripts %}
<script>
    let delayTimer
    const addFriendFunction = friendId=>{
        fetch('{{ url('home') }}addFriend/'+friendId)
        .then(res=>{
            return res.text()
        })
        .then(res=>{
            const notif = window.createNotification({
                closeOnClick: true,
                displayCloseButton: false,
                positionClass: 'nfc-top-right',
                onclick: false,
                showDuration: 5000,
                theme: 'info'
            });
            notif({
                title:"Demande d'ami",
                message:res
            })
        })
    }
   document.addEventListener('DOMContentLoaded',()=>{
      const searchBar = document.getElementById('friend_search_bar')
        const resultList = document.getElementById('search_list')
         searchBar.addEventListener('keyup',(e)=>{
         if(e.target.value.length >= 3){
             clearTimeout(delayTimer);
             delayTimer = setTimeout(function() {
                 fetch('http://localhost:8000/api/users?page=1&username='+e.target.value)
                     .then((res)=>{return res.json()})
                     .then(res=>{
                         resultList.innerHTML = ''
                         if(!res['hydra:member']){
                             let li = document.createElement('li')
                             li.innerHTML = 'Aucun résultat'
                             resultList.appendChild(li)
                         }
                         else{
                             res['hydra:member'].forEach(friend=>{
                                 console.log(friend)
                                 let li = document.createElement('li')
                                 let addButton = document.createElement('button')
                                 addButton.innerHTML = 'Demander en ami'
                                 addButton.onclick = ()=>{addFriendFunction(friend.id)}
                                 li.innerHTML = friend.username
                                 li.appendChild(addButton)
                                 resultList.appendChild(li)
                             })
                         }
                     })
             }, 1000);
         }
      })
   })
</script>
{% endblock %}
