{% extends 'base.html.twig' %}

{% block title %}Handling{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' type='text/css' media='screen' href='{{ asset('assets/style/main.css') }}'>
{% endblock %}
{% block body %}
    <header>
        <img src="{{ asset('assets/img/logo.png') }}" alt="Logo">
        <nav>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('profile') }}">Bonjour, {{ app.user.username }}</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </nav>
    </header>
    {# {{ render(controller('\\App\\Controller\\LoginController::login')) }} #}
    <div id="jouer">
        <div id="carte" style="background-color: rebeccapurple;">

        </div>
        <div id="handling">
            <h1>Handling</h1>
            <p>Jouez dès maintenant au meilleur jeu de cartes en ligne !</p>
            <div>
                <a href="{{ path('new_game') }}">Jouez</a>
                <a href="">En savoir plus</a>
            </div>
        </div>
    </div>
    <div id="fleche">
        <a href="#presentation"><img src="{{ asset('assets/img/fleche.svg') }}" alt="Flèche vers le bas"></a>
    </div>
    <div id="presentation">
        <h2>Présentation rapide du jeu</h2>
        <p>Deux grandes organisations appelées GroundWorld et Shadow Society cherchent à faire tomber le gouvernement américain à l’aide d’une arme secrète ayant pour but de contrôler les esprits. Afin d'atteindre cet objectif périlleux, les entreprises devront réunir les meilleurs espions du monde dans le but d’obtenir cette technologie secrète et ainsi prendre le pouvoir du pays. Usez de propagande ou encore d’autres actions aux apparences trompeuses, afin d’induire l’organisation adverse en erreur et ainsi gagner la confiance des agents.

            <br>Afin d’attirer les meilleurs espions du monde dans votre équipe, usez également des meilleures offres, meilleures actions et meilleurs gadgets en votre possession afin de convaincre que votre organisation est bien la meilleure, et ainsi compter un maximum d’espions dans votre rang.</p>
    </div>
    <div id="regles">
        <iframe src="https://www.youtube.com/embed/EDu2tGLGwyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>Règles du jeu</h2>
    </div>
    <footer>
        <div><a href="">Mentions légales</a></div>
        <div><img src="{{ asset('assets/img/logo.png') }}" alt="Logo">&nbsp; Tous droits réservés</div>
        <div><a href="#">Rejoins nous sur Instagram ! <img src="{{ asset('assets/img/instagram.png') }}" alt="Instagram"></a></div>
    </footer>
{% endblock %}