{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<form action="{{ path('create_game') }}" method="post">
    <div>
        <label for="user1">Joueur 1</label>
        <select name="user1" id="user1">
            <option value="">Choisir le joueur 1</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.display }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="user2">Joueur 2</label>
        <select name="user2" id="user2">
            <option value="">Choisir le joueur 2</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.display }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Commencer la partie</button>

</form>
{% endblock %}
