{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/style/main.css') }}">
{% endblock %}

{% block body %}

    <div id="loading_screen" style="background-color: #404040; position: absolute; height: 100vh; width: 100vw; margin: 0; padding: 0; top: 0; left: 0">
        Loading !
    </div>
    <div id="fond">
        <div id="plateau">
            <div id="adversaire">
                <div id="jetons_ad">
                    <img id="token_secret_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton1.png" alt="jeton">
                    <img id="token_depot_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton2.png" alt="jeton">
                    <img id="token_offre_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton3.png" alt="jeton">
                    <img id="token_echange_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton4.png" alt="jeton">
                </div>
                <div id="carte_ad">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                </div>
            </div>
            <div id="jeu_centre">
                <div id="pioche">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                </div>
                <div id="persos">
                    <div class="personnage1"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage2"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage3"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage4"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage5"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage6"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage7"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                </div>
            </div>
            <div id="jeu">
                <div id="jetons_jeu">
                    <img id="token_secret" class="token" data-activated="false" data-action="secret" src="{{ asset('/assets/images/tokens') }}/Jeton1.png" alt="jeton">
                    <img id="token_depot" class="token" data-activated="false" data-action="depot" src="{{ asset('/assets/images/tokens') }}/Jeton2.png" alt="jeton">
                    <img id="token_offre" class="token" data-activated="false" data-action="offre" src="{{ asset('/assets/images/tokens') }}/Jeton3.png" alt="jeton">
                    <img id="token_echange" class="token" data-activated="false" data-action="echange" src="{{ asset('/assets/images/tokens') }}/Jeton4.png" alt="jeton">
                </div>
                <div id="carte_jeu">
{#                    <img id="carte1" class="card" src="{{ asset('/assets/images/objects') }}/carte_1.png" alt="objet">#}
{#                    <img id="carte2" class="card" src="{{ asset('/assets/images/objects') }}/carte_1.png" alt="objet">#}
{#                    <img id="carte3" class="card" src="{{ asset('/assets/images/objects') }}/carte_6.png" alt="objet">#}
{#                    <img id="carte4" class="card" src="{{ asset('/assets/images/objects') }}/carte_2.png" alt="objet">#}
{#                    <img id="carte5" class="card" src="{{ asset('/assets/images/objects') }}/carte_6.png" alt="objet">#}
{#                    <img id="carte6" class="card" src="{{ asset('/assets/images/objects') }}/carte_5.png" alt="objet">#}
                    {% if game.getUser1().getId() == user_id %}
                        {% for card in set.user1HandCards %}
                            <img data-card-id="{{ cards[card].getId() }}" class="card" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">
                        {% endfor %}
                    {% else %}
                        {% for card in set.user2HandCards %}
                            <img data-card-id="{{ cards[card].getId()}}" class="card" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-8">#}
{#            Cartes de l'adversaire#}
{#            {% if game.getUser1().getId() == user_id %}#}
{#                {% for card in set.user2HandCards %}#}
{#                    <img height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                {% for card in set.user1HandCards %}#}
{#                    <img height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            Actions#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        Plateau adversaire#}
{#    </div>#}
{#    <div class="row">#}
{#        Plateau#}
{#    </div>#}
{#    <div class="row">#}
{#        Mon Plateau#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-8">#}
{#            {% if game.getUser1().getId() == user_id %}#}
{#                {% for card in set.user1HandCards %}#}
{#                    <img data-card-id="{{ cards[card].getId() }}" class="card" height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                {% for card in set.user2HandCards %}#}
{#                    <img data-card-id="{{ cards[card].getId()}}" class="card" height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            Mes Actions#}
{#            <div class="actions">#}
{#                <button id="secret-button">Secret</button>#}
{#                <button id="depot-button">Dépôt</button>#}
{#                <button id="offre-button">Offre</button>#}
{#                <button id="echange-button">Echange</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <a href="{{ path('home') }}">Retour à l'accueil</a>
    <script>
        let depotArray = []
        let offreArray = []
        let echangeArray = []

        socket.on('action',(data)=>{
            console.log(data)
        })

        window.addEventListener('load',()=>{
            document.getElementById('loading_screen').style.display = 'none';
            /*let cards = document.getElementsByClassName('card-container')
            console.log(cards)
            Array.from(cards).forEach((card)=>{
                let secret = document.createElement('button')
                secret.innerHTML = "Secret"
                secret.onclick = ()=>{secretCard(card.getAttribute("data-card-id"))}
                card.appendChild(secret)
            })*/
        })

        window.addEventListener('DOMContentLoaded',()=>{
            let tokens = document.getElementsByClassName('token')
            Array.from(tokens).forEach((token_card)=>{
                token_card.addEventListener('click',(e)=>{
                    if(token_card.getAttribute("data-activated") !== "true"){
                        changeTokenState(token_card, true)
                    }
                    else{
                        changeTokenState(token_card, false)
                    }
                })
            })
        })

        function changeTokenState(token, state){
            if (state){
                let tokens = document.getElementsByClassName('token')
                Array.from(tokens).forEach((token_card)=>{
                    changeTokenState(token_card, false)
                })
                token.setAttribute("data-activated", "true")
                token.style.transform = "scale(1.2)"
                let cards = document.getElementsByClassName('card')
                Array.from(cards).forEach((card)=>{
                    card.addEventListener('click',actionCard)
                })
            }
            else{
                token.setAttribute("data-activated", "false")
                token.style.transform = "scale(1)"
                let cards = document.getElementsByClassName('card')
                Array.from(cards).forEach((card)=>{
                    card.removeEventListener('click',actionCard)
                })
            }
        }

        function actionCard(e){
            let action = document.querySelector('.token[data-activated="true"]').getAttribute('data-action')
            switch (action) {
                case 'secret':
                    sendActionToServer(e.target.getAttribute("data-card-id"))
                    break
                case 'depot':
                    if (depotArray.indexOf(e.target) === -1){
                        if (depotArray.length < 2){
                            e.target.style.transform = "translateY(-30px)"
                            depotArray.push(e.target)
                            if(depotArray.length === 2){
                                console.log("c'est bon")
                            }
                        }
                    }else{
                        depotArray.splice(depotArray.indexOf(e.target),1)
                        e.target.style.transform = "translateY(0)"
                    }

                    break
                case 'offre':
                    if (depotArray.indexOf(e.target) === -1){
                        if (depotArray.length < 3){
                            e.target.style.transform = "translateY(-30px)"
                            depotArray.push(e.target)
                            if(depotArray.length === 3){
                                console.log("c'est bon")
                            }
                        }
                    }else{
                        depotArray.splice(depotArray.indexOf(e.target),1)
                        e.target.style.transform = "translateY(0)"
                    }
                    break
                case 'echange':
                    break
                default:
                    alert('Bizarre ton action narvalo')
                    break
            }
        }

        function sendActionToServer(cardId){
            let tokens = document.getElementsByClassName('token')
            Array.from(tokens).forEach((token_card)=>{
                changeTokenState(token_card, false)
            })
            console.log(`carte id:${cardId} cliquée`)
           /* fetch(`{{ path('action_game',{game:game.getId()}) }}?action=secret&carte=${cardId}`,{
                method:'GET'
            })
            .then(data=>{
                return data.json()
            })
            .then(data=>{
                console.log(data)
                document.location.reload()
            })*/
        }
    </script>
{% endblock %}

{% block title %}
    Résultats de la game N°{{ game.getId() }}
{% endblock %}

