{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/style/main.css') }}">
{% endblock %}

{% block body %}

    <div id="loading_screen" style="background-color: #404040; position: absolute; height: 100vh; width: 100vw; margin: 0; padding: 0; top: 0; left: 0">
        Loading !
    </div>
    <div id="fond">
        <div id="plateau">
            <div id="adversaire">
                <div id="jetons_ad">
                    <img id="token_secret_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton1.png" alt="jeton">
                    <img id="token_depot_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton2.png" alt="jeton">
                    <img id="token_offre_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton3.png" alt="jeton">
                    <img id="token_echange_opponent" src="{{ asset('/assets/images/tokens') }}/Jeton4.png" alt="jeton">
                </div>
                <div id="carte_ad">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                </div>
            </div>
            <div id="jeu_centre">
                <div id="pioche">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                </div>
                <div id="persos">
                    <div class="personnage1"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage2"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage3"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage4"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage5"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage6"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage7"><img src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                </div>
            </div>
            <div id="jeu">
                <div id="jetons_jeu">
                    <img id="token_secret" src="{{ asset('/assets/images/tokens') }}/Jeton1.png" alt="jeton">
                    <img id="token_depot" src="{{ asset('/assets/images/tokens') }}/Jeton2.png" alt="jeton">
                    <img id="token_offre" src="{{ asset('/assets/images/tokens') }}/Jeton3.png" alt="jeton">
                    <img id="token_echange" src="{{ asset('/assets/images/tokens') }}/Jeton4.png" alt="jeton">
                </div>
                <div id="carte_jeu">
                    <img id="carte1" src="{{ asset('/assets/images/objects') }}/carte_1.png" alt="objet">
                    <img id="carte2" src="{{ asset('/assets/images/objects') }}/carte_1.png" alt="objet">
                    <img id="carte3" src="{{ asset('/assets/images/objects') }}/carte_6.png" alt="objet">
                    <img id="carte4" src="{{ asset('/assets/images/objects') }}/carte_2.png" alt="objet">
                    <img id="carte5" src="{{ asset('/assets/images/objects') }}/carte_6.png" alt="objet">
                    <img id="carte6" src="{{ asset('/assets/images/objects') }}/carte_5.png" alt="objet">
                </div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-8">#}
{#            Cartes de l'adversaire#}
{#            {% if game.getUser1().getId() == user_id %}#}
{#                {% for card in set.user2HandCards %}#}
{#                    <img height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                {% for card in set.user1HandCards %}#}
{#                    <img height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            Actions#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        Plateau adversaire#}
{#    </div>#}
{#    <div class="row">#}
{#        Plateau#}
{#    </div>#}
{#    <div class="row">#}
{#        Mon Plateau#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-8">#}
{#            {% if game.getUser1().getId() == user_id %}#}
{#                {% for card in set.user1HandCards %}#}
{#                    <img data-card-id="{{ cards[card].getId() }}" class="card" height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                {% for card in set.user2HandCards %}#}
{#                    <img data-card-id="{{ cards[card].getId()}}" class="card" height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">{{ cards[card].number }}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="col-4">#}
{#            Mes Actions#}
{#            <div class="actions">#}
{#                <button id="secret-button">Secret</button>#}
{#                <button id="depot-button">Dépôt</button>#}
{#                <button id="offre-button">Offre</button>#}
{#                <button id="echange-button">Echange</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <a href="{{ path('home') }}">Retour à l'accueil</a>
    <script>
        socket.on('action',(data)=>{
            console.log(data)
        })
        window.addEventListener('load',()=>{
            document.getElementById('loading_screen').style.display = 'none';
            /*let cards = document.getElementsByClassName('card-container')
            console.log(cards)
            Array.from(cards).forEach((card)=>{
                let secret = document.createElement('button')
                secret.innerHTML = "Secret"
                secret.onclick = ()=>{secretCard(card.getAttribute("data-card-id"))}
                card.appendChild(secret)
            })*/
        })

        window.addEventListener('DOMContentLoaded',()=>{
            let secretButton = document.getElementById('token_secret')
            let depotButton = document.getElementById('token_depot')
            let offreButton = document.getElementById('token_offre')
            let echangeButton = document.getElementById('token_echange')

            secretButton.addEventListener('click',(e)=>{
                let cards = document.getElementsByClassName('card')
                Array.from(cards).forEach((card)=>{
                    card.addEventListener('click',actionCard)
                })
            })
        })

        function actionCard(e){
            let cards = document.getElementsByClassName('card')
            //let token = document.getElementById()
            e.target.style.transform = "translateY(-30px)"
            secretCard(e.target.getAttribute('data-card-id'))
            Array.from(cards).forEach((card)=>{
                card.removeEventListener('click',actionCard)
            })
        }

        function secretCard(cardId){
            console.log(`carte id:${cardId} cliquée`)
            fetch(`{{ path('action_game',{game:game.getId()}) }}?action=secret&carte=${cardId}`,{
                method:'GET'
            })
            .then(data=>{
                return data.json()
            })
            .then(data=>{
                console.log(data)
                document.location.reload()
            })
        }
    </script>
{% endblock %}

{% block title %}
    Résultats de la game N°{{ game.getId() }}
{% endblock %}

