{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/style/main.css') }}">
    <style>
        #cards-content img{
            width: 10vw;
            height: auto;
            padding: 0 0.5%;
        }

        .modal {
            display: none; /* Hidden by default */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed; /* Stay in place */
            z-index: 10; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: black;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .card-group{
            display: flex;
            flex-direction: row;
            margin: 1rem 2rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="myModal" class="modal">
        <h2 id="modal-title"></h2>
        <div id="cards-content" class="modal-content">
        </div>
    </div>
    <div id="loading_screen" style="background-color: #404040; position: absolute; height: 100vh; width: 100vw; margin: 0; padding: 0; top: 0; left: 0">
        Loading !
    </div>
    <div id="fond">
        <header>
            <a href="{{ path('home') }}" id="lien_accueil"> <img src="{{ asset('assets/img/fleche2.svg') }}" alt="Retour">Quitter la partie</a>
        </header>
        <div id="plateau">
            <div id="adversaire">
                <div id="jetons_ad">
                    {% if game.getUser1().getId() == user_id %}
                        <img id="token_secret_opponent" class="token" data-activated="false" data-action="secret" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['SECRET']?'Jeton1_ad.png':'Jeton1.png' }}" alt="jeton">
                        <img id="token_depot_opponent" class="token" data-activated="false" data-action="depot" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['DEPOT']?'Jeton2_ad.png':'Jeton2.png' }}" alt="jeton">
                        <img id="token_offre_opponent" class="token" data-activated="false" data-action="offre" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['OFFRE']?'Jeton3_ad.png':'Jeton3.png' }}" alt="jeton">
                        <img id="token_echange_opponent" class="token" data-activated="false" data-action="echange" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['ECHANGE']?'Jeton4_ad.png':'Jeton4.png' }}" alt="jeton">
                    {% else %}
                        <img id="token_secret_opponent" class="token" data-activated="false" data-action="secret" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['SECRET']?'Jeton1_ad.png':'Jeton1.png' }}" alt="jeton">
                        <img id="token_depot_opponent" class="token" data-activated="false" data-action="depot" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['DEPOT']?'Jeton2_ad.png':'Jeton2.png' }}" alt="jeton">
                        <img id="token_offre_opponent" class="token" data-activated="false" data-action="offre" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['OFFRE']?'Jeton3_ad.png':'Jeton3.png' }}" alt="jeton">
                        <img id="token_echange_opponent" class="token" data-activated="false" data-action="echange" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['ECHANGE']?'Jeton4_ad.png':'Jeton4.png' }}" alt="jeton">
                    {% endif %}
                </div>
                <div id="carte_ad">
                    {% if game.getUser2().getId() == user_id %}
                        {% if set.user1HandCards %}
                            {% for card in set.user1HandCards %}
                                <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                            {% endfor %}
                        {% else %}
                            L'adversaire n'a plus de carte
                        {% endif %}
                    {% else %}
                        {% if set.user2HandCards %}
                            {% for card in set.user2HandCards %}
                                <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                            {% endfor %}
                        {% else %}
                            L'adversaire n'a plus de carte
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="jeu_centre">
                <div id="pioche">
                    <img src="{{ asset('/assets/images/cards') }}/carte_arriere.png" alt="verso carte">
                </div>
                <div id="persos">
                    <div class="personnage1"><img class="direction_{{ (set.board['pistolet'] == user_id)?'me':(set.board['pistolet'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage2"><img class="direction_{{ (set.board['lampe'] == user_id)?'me':(set.board['lampe'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage3"><img class="direction_{{ (set.board['oreillette'] == user_id)?'me':(set.board['oreillette'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage4"><img class="direction_{{ (set.board['ordinateur'] == user_id)?'me':(set.board['ordinateur'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage5"><img class="direction_{{ (set.board['fiole'] == user_id)?'me':(set.board['fiole'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage6"><img class="direction_{{ (set.board['couteau'] == user_id)?'me':(set.board['couteau'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                    <div class="personnage7"><img class="direction_{{ (set.board['cigarettes'] == user_id)?'me':(set.board['cigarettes'] == 'N')?'N':'opponent' }}" src="{{ asset('/assets/images/tokens') }}/jeton.png" alt="jeton"></div>
                </div>
            </div>
            <div id="jeu">
                <div id="jetons_jeu">
                    {% if game.getUser2().getId() == user_id %}
                        <img id="token_secret" class="token" data-activated="false" data-action="secret" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['SECRET']?'Jeton1_ad.png':'Jeton1.png' }}" alt="jeton">
                        <img id="token_depot" class="token" data-activated="false" data-action="depot" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['DEPOT']?'Jeton2_ad.png':'Jeton2.png' }}" alt="jeton">
                        <img id="token_offre" class="token" data-activated="false" data-action="offre" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['OFFRE']?'Jeton3_ad.png':'Jeton3.png' }}" alt="jeton">
                        <img id="token_echange" class="token" data-activated="false" data-action="echange" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser2Action()['ECHANGE']?'Jeton4_ad.png':'Jeton4.png' }}" alt="jeton">
                    {% else %}
                        <img id="token_secret" class="token" data-activated="false" data-action="secret" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['SECRET']?'Jeton1_ad.png':'Jeton1.png' }}" alt="jeton">
                        <img id="token_depot" class="token" data-activated="false" data-action="depot" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['DEPOT']?'Jeton2_ad.png':'Jeton2.png' }}" alt="jeton">
                        <img id="token_offre" class="token" data-activated="false" data-action="offre" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['OFFRE']?'Jeton3_ad.png':'Jeton3.png' }}" alt="jeton">
                        <img id="token_echange" class="token" data-activated="false" data-action="echange" src="{{ asset('/assets/images/tokens') }}/{{ set.getUser1Action()['ECHANGE']?'Jeton4_ad.png':'Jeton4.png' }}" alt="jeton">
                    {% endif %}
                    <button style="margin-top: 1.5rem" id="token-validation" onclick="sendActionToServer()" disabled>Valider</button>
                </div>
                <div id="carte_jeu">
                    {% if game.getUser1().getId() == user_id %}
                        {% if set.user1HandCards %}
                            {% for card in set.user1HandCards %}
                                <img data-card-id="{{ cards[card].getId() }}" class="card" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">
                            {% endfor %}
                        {% else %}
                            Tu n'as plus de carte
                        {% endif %}
                    {% else %}
                        {% if set.user2HandCards %}
                            {% for card in set.user2HandCards %}
                                <img data-card-id="{{ cards[card].getId() }}" class="card" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">
                            {% endfor %}
                        {% else %}
                            Tu n'as plus de carte
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <h3 id="user_turn">
                {% if game.getUserTurn() == user_id %}
                A toi de jouer !
                {% else %}
                Patiente un petit peu, ton tour arrive !
                {% endif %}
            </h3>
            <div id="cards">
                {% if game.getUser1().getId() == user_id %}
                    {% for card in set.user1BoardCards %}
                        <img data-card-id="{{ cards[card].getId() }}" class="card" height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">
                    {% endfor %}
                {% else %}
                    {% for card in set.user2BoardCards %}
                        <img data-card-id="{{ cards[card].getId()}}" class="card" height="100" src="{{ asset('assets/images/objects/'~cards[card].picture) }}">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        let modal = document.getElementById("myModal");
        let btn = document.getElementById("myBtn");
        let tokenValidation
        let currentAction = ""
        let secretArray = []
        let depotArray = []
        let offreArray = []
        let echangeArray = {
            firstDeck:[],
            secondDeck:[]
        }

        socket.on('action',(data)=>{
            switch (data.action){
                case 'offre':
                    newOffer(data.cards)
                    break
                case 'echange':
                    newEchange(data.cards)
                    break
            }
        })

        socket.on('reload',(data)=>{
            document.location.reload()
        })

        window.addEventListener('load',()=>{
            document.getElementById('loading_screen').style.display = 'none';
        })

        window.addEventListener('DOMContentLoaded',()=>{
            let tokens = document.getElementsByClassName('token')
            tokenValidation = document.getElementById('token-validation')
            Array.from(tokens).forEach((token_card)=>{
                token_card.addEventListener('click',(e)=>{
                    if(token_card.getAttribute("data-activated") !== "true"){
                        changeTokenState(token_card, true)
                    }
                    else{
                        changeTokenState(token_card, false)
                    }
                })
            })
        })

        function changeTokenState(token, state){
            if (state){
                let tokens = document.getElementsByClassName('token')
                Array.from(tokens).forEach((token_card)=>{
                    changeTokenState(token_card, false)
                })
                token.setAttribute("data-activated", "true")
                token.style.transform = "scale(1.2)"

                currentAction = token.getAttribute("data-action")
                let cards = document.getElementsByClassName('card')
                Array.from(cards).forEach((card)=>{
                    card.addEventListener('click',actionCard)
                })
            }
            else{
                token.setAttribute("data-activated", "false")
                token.style.transform = "scale(1)"
                currentAction = ""
                secretArray = []
                depotArray = []
                offreArray = []
                echangeArray = {
                    firstDeck:[],
                    secondDeck:[]
                }
                tokenValidation.disabled = true
                let cards = document.getElementsByClassName('card')
                Array.from(cards).forEach((card)=>{
                    card.style.transform = "translateY(0)"
                    card.removeEventListener('click',actionCard)
                })
            }
        }

        function actionCard(e){
            let action = document.querySelector('.token[data-activated="true"]').getAttribute('data-action')
            switch (action) {
                case 'secret':
                    if (secretArray.indexOf(e.target) === -1){
                        if (secretArray.length < 1){
                            e.target.style.transform = "translateY(-30px)"
                            secretArray.push(e.target)
                            if(secretArray.length === 1){
                                tokenValidation.disabled = false
                            }
                        }
                    }else{
                        tokenValidation.disabled = true
                        secretArray.splice(secretArray.indexOf(e.target),1)
                        e.target.style.transform = "translateY(0)"
                    }
                    break
                case 'depot':
                    if (depotArray.indexOf(e.target) === -1){
                        if (depotArray.length < 2){
                            e.target.style.transform = "translateY(-30px)"
                            depotArray.push(e.target)
                            if(depotArray.length === 2){
                                tokenValidation.disabled = false
                            }
                        }
                    }else{
                        tokenValidation.disabled = true
                        depotArray.splice(depotArray.indexOf(e.target),1)
                        e.target.style.transform = "translateY(0)"
                    }
                    break
                case 'offre':
                    if (offreArray.indexOf(e.target) === -1){
                        if (offreArray.length < 3){
                            e.target.style.transform = "translateY(-30px)"
                            offreArray.push(e.target)
                            if(offreArray.length === 3){
                                tokenValidation.disabled = false
                            }
                        }
                    }else{
                        tokenValidation.disabled = true
                        offreArray.splice(offreArray.indexOf(e.target),1)
                        e.target.style.transform = "translateY(0)"
                    }
                    break
                case 'echange':
                    if (echangeArray.firstDeck.indexOf(e.target) === -1 && echangeArray.secondDeck.indexOf(e.target) === -1){
                        if (echangeArray.firstDeck.length < 2){
                            e.target.style.transform = "translateY(-30px)"
                            echangeArray.firstDeck.push(e.target)
                            if(echangeArray.firstDeck.length === 2){
                            }
                        }
                        else if (echangeArray.secondDeck.length < 2){
                            e.target.style.transform = "translateY(30px)"
                            echangeArray.secondDeck.push(e.target)
                            if(echangeArray.secondDeck.length === 2){
                                tokenValidation.disabled = false
                            }
                        }
                    }else{
                        if (echangeArray.firstDeck.indexOf(e.target) !== -1){
                            echangeArray.firstDeck.splice(echangeArray.firstDeck.indexOf(e.target),1)
                        }
                        else if(echangeArray.secondDeck.indexOf(e.target) !== -1){
                            echangeArray.secondDeck.splice(echangeArray.secondDeck.indexOf(e.target),1)
                        }
                        tokenValidation.disabled = true
                        e.target.style.transform = "translateY(0)"
                    }
                    break
                default:
                    alert('Bizarre ton action narvalo')
                    break
            }
        }

        function sendActionToServer(){
            let data = {}
            data.action = currentAction
            switch (currentAction) {
                case 'secret':
                    data.card = secretArray[0].getAttribute('data-card-id')
                    break
                case 'depot':
                    data.card1 = depotArray[0].getAttribute('data-card-id')
                    data.card2 = depotArray[1].getAttribute('data-card-id')
                    break
                case 'offre':
                    data.card1 = offreArray[0].getAttribute('data-card-id')
                    data.card2 = offreArray[1].getAttribute('data-card-id')
                    data.card3 = offreArray[2].getAttribute('data-card-id')
                    break
                case 'echange':
                    data.firstDeck = []
                    data.secondDeck = []
                    data.firstDeck[0] = echangeArray.firstDeck[0].getAttribute('data-card-id')
                    data.firstDeck[1] = echangeArray.firstDeck[1].getAttribute('data-card-id')
                    data.secondDeck[0] = echangeArray.secondDeck[0].getAttribute('data-card-id')
                    data.secondDeck[1] = echangeArray.secondDeck[1].getAttribute('data-card-id')
                    break
                default:
                    alert('Bizarre ton action narvalo')
                    break
            }
             fetch(`{{ path('action_game',{game:game.getId()}) }}`,{
                 method:'post',
                 body:JSON.stringify(data)
            })
            .then(data=>{
                return data.json()
            })
            .then(data=>{
                console.log(data)
            })
            changeTokenState(document.querySelector('.token[data-activated="true"]'),false)
        }

        function newOffer(cards){
            let div = document.getElementById('cards-content')
            div.innerHTML = ''
            let card1, card2, card3
            let data = {
                action: 'accept_offer'
            }
            card1 = document.createElement('img')
            card2 = document.createElement('img')
            card3 = document.createElement('img')

            card1.src = '{{ asset('assets/images/objects/') }}'+cards[0].picture
            card2.src = '{{ asset('assets/images/objects/') }}'+cards[1].picture
            card3.src = '{{ asset('assets/images/objects/') }}'+cards[2].picture

            card1.onclick = ()=>{
                data.card = cards[0].id
                fetch('{{ path('action_game',{game:game.getId()}) }}',{
                    method:'post',
                    body:JSON.stringify(data)
                })
                .then(data=>{
                    return data.json()
                })
                .then(data=>{
                    console.log(data)
                })
                document.getElementById('myModal').style.display = "none";
            }

            card2.onclick = ()=>{
                data.card = cards[1].id
                fetch('{{ path('action_game',{game:game.getId()}) }}',{
                    method:'post',
                    body:JSON.stringify(data)
                })
                    .then(data=>{
                        return data.json()
                    })
                    .then(data=>{
                        console.log(data)
                    })
                document.getElementById('myModal').style.display = "none";
            }

            card3.onclick = ()=>{
                data.card = cards[2].id
                fetch('{{ path('action_game',{game:game.getId()}) }}',{
                    method:'post',
                    body:JSON.stringify(data)
                })
                    .then(data=>{
                        return data.json()
                    })
                    .then(data=>{
                        console.log(data)
                    })
                document.getElementById('myModal').style.display = "none";
            }

            document.getElementById('modal-title').innerHTML = "Offre : Choisis une carte"

            div.appendChild(card1)
            div.appendChild(card2)
            div.appendChild(card3)

            document.getElementById('myModal').style.display = "flex";

        }

        function newEchange(cards){
            let div = document.getElementById('cards-content')
            div.innerHTML = ''
            let card1, card2, card3, card4, group1, group2
            let data = {
                action: 'accept_echange'
            }

            card1 = document.createElement('img')
            card2 = document.createElement('img')
            card3 = document.createElement('img')
            card4 = document.createElement('img')
            group1 = document.createElement('div')
            group2 = document.createElement('div')

            group1.classList.add('card-group')
            group2.classList.add('card-group')

            card1.src = '{{ asset('assets/images/objects/') }}'+cards['firstDeck'][0].picture
            card2.src = '{{ asset('assets/images/objects/') }}'+cards['firstDeck'][1].picture
            card3.src = '{{ asset('assets/images/objects/') }}'+cards['secondDeck'][0].picture
            card4.src = '{{ asset('assets/images/objects/') }}'+cards['secondDeck'][1].picture

            group1.onclick = ()=>{
                data.cards = [cards['firstDeck'][0].id,cards['firstDeck'][1].id]
                fetch('{{ path('action_game',{game:game.getId()}) }}',{
                    method:'post',
                    body:JSON.stringify(data)
                })
                    .then(data=>{
                        return data.json()
                    })
                    .then(data=>{
                        console.log(data)
                    })
                document.getElementById('myModal').style.display = "none";
            }

            group2.onclick = ()=>{
                data.cards = [cards['secondDeck'][0].id,cards['secondDeck'][1].id]
                fetch('{{ path('action_game',{game:game.getId()}) }}',{
                    method:'post',
                    body:JSON.stringify(data)
                })
                    .then(data=>{
                        return data.json()
                    })
                    .then(data=>{
                        console.log(data)
                    })
                document.getElementById('myModal').style.display = "none";
            }

            group1.appendChild(card1)
            group1.appendChild(card2)
            group2.appendChild(card3)
            group2.appendChild(card4)

            document.getElementById('modal-title').innerHTML = "Echange : Choisis un groupe de cartes"

            div.appendChild(group1)
            div.appendChild(group2)

            document.getElementById('myModal').style.display = "flex";
        }
    </script>
{% endblock %}

{% block title %}
    Résultats de la game N°{{ game.getId() }}
{% endblock %}

